
.skillIcon {
  font-size: 40px;
  color:rgb(1, 167, 208)
}
.golangIcon:hover {
  color: rgb(0, 161, 227);
}
.javascriptIcon:hover {
  color:rgb(232, 212, 76)
}
.typescriptIcon:hover {
  color:rgb(47, 116, 191)
}
.cppIcon:hover {
  color:rgb(0, 65, 125);
}
.pythonIcon:hover {
  color: rgb(247, 223, 30);
}
.htmlIcon:hover {
  color: rgb(233, 98, 40);
}
.gitIcon:hover {
  color: rgb(232, 78, 49);
}
.dockerIcon:hover {
  color: rgb(0, 141, 223);
}
.tableauIcon:hover {
  color: black;
}
.mongoIcon:hover {
  color: rgb(82, 167, 75);
}
.firebaseIcon:hover {
  color: rgb(245, 132, 16);
}
.sqlIcon:hover {
  color: rgb(255, 255, 255);
}
.reactIcon:hover {
    color: rgb(94, 211, 243);
  }
  .reduxIcon:hover {
    color: rgb(118, 76, 183);
  }
  .muiIcon:hover {
    color: rgb(0, 129, 203);
  }
  .cssIcon:hover {
    color: rgb(37, 75, 221);
  }
  .nodeIcon:hover {
    color: rgb(95, 151, 89);
  }
  .expIcon:hover {
    color: black;
  }
  .leaderIcon:hover {
    color: rgb(82, 167, 75);
  }
  .teamIcon:hover {
    color: rgb(232, 78, 49);
  }
  .problemIcon:hover {
    color: rgb(255, 0, 0);
  }