
.skillIcon {
  font-size: 40px;
  color:rgb(1, 167, 208)
}
.golangIcon:hover {
  color: rgb(0, 161, 227);
}
.javascriptIcon:hover {
  color:rgb(232, 212, 76)
}
.typescriptIcon:hover {
  color:rgb(47, 116, 191)
}
.cppIcon:hover {
  color:rgb(0, 65, 125);
}
.pythonIcon:hover {
  color: rgb(247, 223, 30);
}
.gitIcon:hover {
  color: rgb(232, 78, 49);
}
.dockerIcon:hover {
  color: rgb(0, 141, 223);
}
.tableauIcon:hover {
  color: black;
}
.mongoIcon:hover {
  color: rgb(82, 167, 75);
}
.firebaseIcon:hover {
  color: rgb(245, 132, 16);
}
.sqlIcon:hover {
  color: rgb(255, 255, 255);
}
.htmlIcon:hover {
  color: rgb(233, 98, 40);
}
.cssIcon:hover {
  color: rgb(37, 75, 221);
}
.nodeIcon:hover {
  color: rgb(25, 25, 25);
}
.npmIcon:hover {
  color: rgb(220, 46, 53);
}
.djangoIcon:hover {
  color: rgb(10, 45, 31);
}
.chakraIcon:hover {
  color: rgb(42, 185, 173);
}
.nextIcon:hover {
  color: rgb(0, 0, 0);
}
.reactIcon:hover {
  color: rgb(94, 211, 243);
}